<nav class="navbar">
    <div class="navbar-brand">
        <a href="/">🏔️ TrailBlaze</a>
    </div>
    <div class="navbar-links">
        <a href="/">Home</a>
        <a href="/trails">Trails</a>
    </div>
</nav>